#CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#Build dirs
*build*

#Doxygen
doc

#Code indexing
.ccls-cache

#Qt
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
CMakeLists.txt.user

#Prerequisites
*.d

#Compiled Object files
*.slo
*.lo
*.o
*.obj

#Precompiled Headers
*.gch
*.pch

#Compiled Dynamic libraries
*.so
*.dylib
*.dll

#Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Executables
*.exe
*.out
*.app

#Mac
.DS_Store

#Windows
Thumbs.db

#Jetbrains
.idea

